@charset "UTF-8";
h1, h2, h3, h4 {
    margin: 0;
}

ol, ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus {
    outline: none;
}

img {
    display: block;
    margin: 0;
}

figure {
    margin: 0;
}

picture {
    display: block;
}

canvas {
    display: block;
}

iframe {
    display: block;
    border: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

tbody, thead, tr, th, td {
    padding: 0;
}

svg {
    display: block;
}

video {
    display: block;
}

blockquote {
    margin: 0;
}

dl, dd {
    margin: 0;
}

button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    border: 0;
}

:root {
    --font-1: "AribauGrotesk", Arial, sans-serif;
    /*
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    */
    --ctr-width: 1350px;
    --ctr-margin: 20px;
    --gap: 20px;
    --color-text: #25465f;
    --color-gray-xlight: #f9f9f9;
    --color-gray-light: #eeeeee;
    --color-gray: #b3b3b3;
    --color-gray-dark: #7d7d7d;
    --color-1: #4D2CF8;
    --color-2: #FFF62F;
    --color-3: #92D283;
    --color-4: #241573;
    --color-5: #231F20;
    --color-6: #C8E8C1;
    --color-7: #EEE01D;
    --color-8: #EBEFFF;
    --color-9: #FFFFFF;
    --color-10: #8FB7FB;
    --color-info: #109db9;
    --color-warning: #f6b027;
    --color-success: #009060;
    --color-danger: #d42d02;
}

/* breakpoint mobile first */
/* breakpoint desktop first */
@media (min-width: 992px) {
    :root {
        --ctr-margin: 40px;
        --gap: 40px;
    }
}
/* AribauGrotesk */
@font-face {
    font-family: "AribauGrotesk";
    src: url(/assets/fonts/AribauGrotesk-Lt.woff2) format("woff2"), url(/assets/fonts/AribauGrotesk-Lt.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "AribauGrotesk";
    src: url(/assets/fonts/AribauGrotesk-Rg.woff2) format("woff2"), url(/assets/fonts/AribauGrotesk-Rg.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "AribauGrotesk";
    src: url(/assets/fonts/AribauGrotesk-Md.woff2) format("woff2"), url(/assets/fonts/AribauGrotesk-Md.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "AribauGrotesk";
    src: url(/assets/fonts/AribauGrotesk-Bd.woff2) format("woff2"), url(/assets/fonts/AribauGrotesk-Bd.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "AribauGrotesk";
    src: url(/assets/fonts/AribauGrotesk-Blk.woff2) format("woff2"), url(/assets/fonts/AribauGrotesk-Blk.woff) format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
html {
    height: 100%;
    font-size: 62.5%;
    box-sizing: border-box;
}
@media (min-width: 992px) {
    html {
        font-size: 1vw;
    }
}

body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: var(--font-1);
    font-size: 1.6rem;
    color: var(--color-text);
    line-height: 1;
    display: flex;
    flex-direction: column;
}
body main {
    margin-top: 7.5rem;
    flex: 1 0 auto;
}
body footer {
    flex-shrink: 0;
}

.container-full {
    padding-left: var(--ctr-margin);
    padding-right: var(--ctr-margin);
}

*,
::before,
::after {
    box-sizing: border-box;
}

button.btn-1, button.btn-2, a.btn-1, a.btn-2 {
    font-size: 1.1rem;
    margin-right: auto;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
}
button .picto-btn-1,
button .picto-btn-2, a .picto-btn-1,
a .picto-btn-2 {
    padding: 0.6rem;
    border-radius: 2rem;
}
button .picto-btn-1 svg,
button .picto-btn-2 svg, a .picto-btn-1 svg,
a .picto-btn-2 svg {
    transform: rotate(-45deg);
    transition: 0.6s;
    margin-left: 0.05rem;
}
button .picto-btn-1.left,
button .picto-btn-2.left, a .picto-btn-1.left,
a .picto-btn-2.left {
    margin: 0;
}
button .picto-btn-1.left svg,
button .picto-btn-2.left svg, a .picto-btn-1.left svg,
a .picto-btn-2.left svg {
    transform: rotate(90deg);
}
button .picto-btn-1.right,
button .picto-btn-2.right, a .picto-btn-1.right,
a .picto-btn-2.right {
    margin: 0;
}
button .picto-btn-1.right svg,
button .picto-btn-2.right svg, a .picto-btn-1.right svg,
a .picto-btn-2.right svg {
    transform: rotate(-90deg);
}
button:hover .picto-btn-1 svg,
button:hover .picto-btn-2 svg, a:hover .picto-btn-1 svg,
a:hover .picto-btn-2 svg {
    transform: rotate(-90deg);
}
button:hover .picto-btn-1.left svg,
button:hover .picto-btn-2.left svg, a:hover .picto-btn-1.left svg,
a:hover .picto-btn-2.left svg {
    transform: rotate(90deg) scale(1.1);
}
button:hover .picto-btn-1.right svg,
button:hover .picto-btn-2.right svg, a:hover .picto-btn-1.right svg,
a:hover .picto-btn-2.right svg {
    transform: rotate(-90deg) scale(1.1);
}
button.btn-1, a.btn-1 {
    color: var(--color-1);
}
button.btn-1 .picto-btn-1, a.btn-1 .picto-btn-1 {
    margin-right: 1rem;
    background-color: var(--color-2);
}
button.btn-1 .picto-btn-1 svg, a.btn-1 .picto-btn-1 svg {
    fill: var(--color-1);
}
button.btn-1 .picto-btn-1.right, button.btn-1 .picto-btn-1.left, a.btn-1 .picto-btn-1.right, a.btn-1 .picto-btn-1.left {
    margin: 0;
}
button.btn-1:hover, a.btn-1:hover {
    color: var(--color-4);
}
button.btn-1.disabled .picto-btn-1, a.btn-1.disabled .picto-btn-1 {
    background-color: var(--color-8);
}
button.btn-1.disabled svg, a.btn-1.disabled svg {
    fill: var(--color-9);
}
button.btn-2, a.btn-2 {
    color: var(--color-9);
}
button.btn-2 .picto-btn-2, a.btn-2 .picto-btn-2 {
    margin-left: 1rem;
    background-color: var(--color-9);
}
button.btn-2 .picto-btn-2 svg, a.btn-2 .picto-btn-2 svg {
    fill: var(--color-1);
}
button.btn-2:hover, a.btn-2:hover {
    color: var(--color-9);
}

.title-1 {
    font-size: 4.23rem;
    font-weight: 700;
    color: var(--color-5);
}
.title-1 strong:nth-of-type(2n) {
    color: var(--color-3);
}
.title-1 strong:nth-of-type(2n+1) {
    color: var(--color-1);
}
@media (max-width: 768px) {
    .title-1 {
        font-size: 4.03rem;
    }
}

.title-2 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--color-5);
}

.title-3 {
    font-size: 2.35rem;
    color: var(--color-1);
    line-height: 2.7rem;
    padding-right: 5rem;
}

.title-4 {
    font-size: 2.35rem;
    color: var(--color-3);
    line-height: 2.7rem;
    padding-bottom: 2rem;
}

/* rich text */
.rte h2 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
    color: var(--color-5);
}
.rte h3 {
    font-size: 2.36rem;
    margin-bottom: 1.83rem;
    color: var(--color-1);
}
.rte h4 {
    font-size: 1.67rem;
    margin-bottom: 1.7rem;
    color: var(--color-3);
}
.rte p {
    font-size: 1.255rem;
    font-weight: 300;
    line-height: 1.79rem;
    margin-bottom: 1.4rem;
    color: var(--color-5);
}
.rte p a {
    font-weight: 500;
    color: var(--color-1);
}
.rte p a:before {
    content: url(/assets/img/icons/hyperlink-light.svg);
    width: 2.7rem;
    height: 2.7rem;
    margin-right: 0.3rem;
}
.rte ul {
    margin-bottom: 3rem;
}
.rte ul li {
    font-size: 1.255rem;
    font-weight: 300;
    line-height: 1.79rem;
    margin-bottom: 0.85rem;
    color: var(--color-5);
}
.rte ul li:before {
    content: "•";
    margin-right: 2rem;
    font-weight: 700;
    color: var(--color-3);
}
.rte ol {
    margin-bottom: 3rem;
    counter-reset: section;
}
.rte ol li {
    font-size: 1.255rem;
    font-weight: 300;
    line-height: 1.79rem;
    margin-bottom: 0.85rem;
    color: var(--color-5);
    position: relative;
    padding-left: 2.5rem;
}
.rte ol li::before {
    counter-increment: section;
    content: counter(section) ".";
    margin-right: 2rem;
    font-weight: 400;
    color: var(--color-3);
    position: absolute;
    left: 0;
}
.rte a.btn-1 {
    color: var(--color-1);
}
.rte a.btn-1:before {
    transition: 0.6s;
    content: url(/assets/img/icons/arrow-down.svg) !important;
    transform: rotate(-45deg);
    width: 2.7rem;
    height: 2.7rem;
    padding: 0.63rem;
    border-radius: 2rem;
    background-color: var(--color-2);
    margin-right: 1rem;
}
.rte a.btn-1:hover:before {
    transform: rotate(-90deg);
}
.rte.dark h2,
.rte.dark h3,
.rte.dark p,
.rte.dark ul li,
.rte.dark ol li,
.rte.dark a.btn-1 {
    color: var(--color-9);
}
.rte.dark h4,
.rte.dark p a {
    color: var(--color-2);
}
.rte.dark p a:before {
    content: url(/assets/img/icons/hyperlink-dark.svg);
}
.rte *:nth-last-child(1) {
    margin-bottom: 0;
}

#rgpd-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    bottom: 0;
    max-width: 40.1rem;
    min-height: 15.5rem;
    background: #fff;
    align-items: center;
    padding: 2.15rem 2rem 0.5rem 2.7rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
}
#rgpd-modal .btn-refuse {
    margin-left: auto;
    margin-bottom: 1rem;
    font-size: var(--font-size-sm);
}
#rgpd-modal h2 {
    width: 100%;
    color: var(--color-1);
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 1.45rem;
}
#rgpd-modal p {
    font-size: 0.9rem;
    line-height: 1.4rem;
}
#rgpd-modal[aria-hidden=true] {
    display: none;
}
#rgpd-modal .button-right-container .btn-accept, #rgpd-modal .button-right-container .btn-refuse {
    background-color: var(--color-1);
    padding: 1rem;
    border-radius: 3rem;
}
#rgpd-modal .button-right-container .btn-accept:hover, #rgpd-modal .button-right-container .btn-refuse:hover {
    background-color: var(--color-4);
}
#rgpd-modal .button-right-container .btn-accept {
    padding: 1rem 0.9rem;
}
@media (max-width: 768px) {
    #rgpd-modal {
        max-width: 100%;
    }
}

@keyframes rgpd-fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes rgpd-fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes rgpd-show-box {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes rgpd-hide-box {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
#rgpd-manage {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    box-sizing: border-box;
}
#rgpd-manage.open {
    display: flex;
    justify-content: flex-end;
    animation: rgpd-fadeIn 0.2s ease 0.1s both;
}
#rgpd-manage.open .box {
    animation: rgpd-show-box 0.6s ease 0.1s both;
}
#rgpd-manage.close {
    animation: rgpd-fadeOut 0.3s ease 0.6s both;
}
#rgpd-manage.close .box {
    animation: rgpd-hide-box 0.6s ease 0s both;
}
#rgpd-manage .box {
    max-height: 100%;
    width: 74rem;
    overflow: hidden;
    overflow-y: auto;
    background: #fff;
    box-sizing: border-box;
    padding: 9rem 9rem 9rem 9.5rem;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.6s;
    border-left: 7rem solid var(--color-1);
}
@media (max-width: 768px) {
    #rgpd-manage .box {
        padding: 9rem 5rem 9rem 2.5rem;
    }
}
#rgpd-manage section {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px dashed var(--color-gray);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#rgpd-manage section p {
    font-size: 1.25rem;
    margin-top: 1.4rem;
    letter-spacing: 0rem;
    font-weight: 300;
    line-height: 1.8rem;
    margin-bottom: 3.2rem;
}
#rgpd-manage h1 {
    color: var(--color-5);
    margin-bottom: 1.8rem;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.1rem;
}
#rgpd-manage h2 {
    color: var(--color-3);
    font-size: 1.65rem;
    font-weight: 700;
}
#rgpd-manage #rgpd-desc {
    margin-bottom: 3.4rem;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.025rem;
    line-height: 1.785rem;
}
#rgpd-manage details {
    font-size: var(--font-size-sm);
    width: 100%;
}
#rgpd-manage details summary {
    cursor: pointer;
    display: flex;
    align-items: center;
}
#rgpd-manage details summary svg {
    margin-right: 0.9rem;
    transition: 0.6s;
}
#rgpd-manage details summary h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.11rem;
    color: var(--color-1);
}
#rgpd-manage details summary .checkbox-container {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}
#rgpd-manage details summary .checkbox-container span {
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 0.6rem;
    color: #000;
}
@media (max-width: 768px) {
    #rgpd-manage details summary .checkbox-container span {
        display: none;
    }
}
#rgpd-manage details summary .checkbox-container span:last-child {
    color: var(--color-1);
}
#rgpd-manage details summary .checkbox-container.checked span:first-child {
    color: var(--color-1);
}
#rgpd-manage details summary .checkbox-container.checked span:last-child {
    color: #000;
}
#rgpd-manage details ul {
    display: block;
    margin-top: 1.9rem;
    font-size: 1.3rem;
    letter-spacing: 0rem;
    line-height: 1.8rem;
}
#rgpd-manage details ul li {
    padding: 0 0 0.4rem;
    font-weight: 300;
}
#rgpd-manage details ul li strong {
    color: var(--color-1);
    font-weight: 700;
}
#rgpd-manage details[open] svg {
    transform: rotate(-180deg);
}
#rgpd-manage input[type=checkbox] {
    margin-left: auto;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    height: 1.5rem;
    width: 3.15rem;
    background-color: var(--color-1);
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    margin: 0 0 0 0.6rem;
}
#rgpd-manage input[type=checkbox]:before {
    content: "";
    width: 0.9rem;
    height: 0.9rem;
    display: block;
    background: var(--color-7);
    border-radius: 15px;
    transition: all 0.2s ease;
    transform: translateX(2rem);
}
#rgpd-manage input[type=checkbox]:after {
    content: attr(data-denied);
    position: absolute;
    right: calc(100% + 10px);
}
#rgpd-manage input[type=checkbox]:checked {
    background-color: var(--color-1);
}
#rgpd-manage input[type=checkbox]:checked:before {
    transform: translateX(0.2rem);
    background: var(--color-7);
    background: var(--color-7);
}
#rgpd-manage input[type=checkbox]:checked:after {
    content: attr(data-accept);
}
#rgpd-manage .btn-close {
    align-self: flex-end;
    margin-top: -1.5rem;
    margin-right: -1.4rem;
    background-color: var(--color-1);
    position: absolute;
    top: 2.9rem;
    right: 2.9rem;
    padding: 1.2rem;
    border-radius: 2rem;
}
#rgpd-manage .btn-close:hover {
    background-color: var(--color-4);
}
@media (min-width: 769px) {
    #rgpd-manage {
        background: rgba(10, 4, 36, 0.48);
        padding: var(--margin);
    }
    #rgpd-manage .box {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes animate-logo-header {
    0% {
        transform: translate3d(-10rem, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
#header {
    z-index: 100;
    position: fixed;
    top: 0;
    margin: 1.389rem;
    padding: 0.521rem 0.555rem 0.521rem 0;
    border-radius: 2.292rem;
    box-shadow: 0rem 0.139rem 0.972rem 0rem rgba(0, 0, 0, 0.21);
    background-color: var(--color-9);
    width: calc(100% - 2.778rem);
    transition: height 2s;
    display: flex;
    align-items: center;
    font-size: 1.111rem;
    text-align: center;
}
#header .logo {
    margin-right: auto;
}
#header .logo svg {
    width: auto;
    height: 1.18rem;
}
#header .logo svg #logo-header-form-4 {
    animation: animate-logo-header 0.4s ease-in-out 0.2s both;
}
#header .logo svg #logo-header-form-3 {
    animation: animate-logo-header 0.4s ease-in-out 0.4s both;
}
#header .logo svg #logo-header-form-2 {
    animation: animate-logo-header 0.4s ease-in-out 0.5s both;
}
#header .logo svg #logo-header-form-1 {
    animation: animate-logo-header 0.4s ease-in-out 0.6s both;
}
#header .navigation-main nav {
    display: flex;
    align-items: center;
}
#header .navigation-main nav > ul {
    text-align: left;
    display: flex;
    margin-right: 1.389rem;
}
#header .navigation-main nav > ul > li {
    display: flex;
    padding: 0 1.389rem;
    position: relative;
}
@media (max-width: 991px) {
    #header .navigation-main nav > ul > li {
        padding: 0 0.1rem;
    }
}
#header .navigation-main nav > ul > li a, #header .navigation-main nav > ul > li svg {
    position: relative;
    z-index: 100;
}
#header .navigation-main nav > ul > li a {
    cursor: pointer;
}
#header .navigation-main nav > ul > li a:hover {
    color: var(--color-1);
}
#header .navigation-main nav > ul > li svg {
    display: inline;
    margin-right: 0.694rem;
    width: 0.972rem;
    height: auto;
}
#header .navigation-main nav > ul > li .icon {
    margin-left: 0.4rem;
}
#header .navigation-main nav > ul > li > ul {
    display: none;
    top: -1rem;
    left: 0;
    right: 0;
    position: absolute;
    padding-top: 2.05rem;
    padding-left: 3.055rem;
    padding-right: 1.389rem;
    padding-bottom: 2rem;
    z-index: 10;
}
#header .navigation-main nav > ul > li > ul li {
    margin-top: 1.6rem;
}
#header .navigation-main nav > ul > li svg:first-child {
    transition: 0.6s;
    will-change: transform;
}
#header .navigation-main nav > ul > li:hover svg:first-child {
    transform: translateY(-0.3rem) rotate(180deg);
}
#header .navigation-main nav > ul > li:hover > ul {
    border-radius: 1.528rem;
    background-color: var(--color-8);
    display: block;
}
#header .navigation-main a {
    display: inline-flex;
    align-items: center;
}
#header .navigation-main a.connexion {
    font-weight: 500;
    font-size: 0.903rem;
    border-radius: 1.944rem;
    background-color: var(--color-1);
    color: var(--color-9);
    padding: 0.9rem 1.736rem;
    text-transform: uppercase;
    transition: 0.6s;
}
#header .navigation-main a.connexion:hover {
    background-color: var(--color-4);
}
#header .navigation-main a.connexion svg {
    display: inline;
    margin-right: 0.694rem;
    width: 0.7rem;
    height: auto;
}
@media (min-width: 769px) {
    #header .burger-button {
        display: none;
    }
}

@media (max-width: 768px) {
    #header .navigation-main nav,
#header .navigation-main nav > ul,
#header .navigation-main nav > ul > li {
        display: block;
        text-align: center;
    }
    #header {
        margin: 1rem;
        width: calc(100% - 1.978rem);
        padding: 0.521rem 0.5rem 0.521rem 0;
    }
    #header .logo svg {
        width: 17rem;
    }
    #header .navigation-main a.connexion {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        width: calc(100% - 2rem);
        height: 3.8rem;
        text-align: center;
        display: block;
        font-size: 1.3rem;
    }
    #header .navigation-main a.connexion svg {
        width: 1rem;
        height: auto;
    }
    #header .navigation-main nav > ul {
        height: 94%;
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #header .navigation-main nav > ul > li {
        margin: 2.3rem 0;
        padding: 0;
        font-size: 2rem;
        width: calc(100% - 1.5rem);
    }
    #header .navigation-main nav > ul > li > ul {
        display: none;
        position: relative;
        border-radius: 1.528rem;
        background-color: var(--color-8);
        top: -3rem;
        padding: 3rem 6rem;
        margin-bottom: -5rem;
        width: 100%;
    }
    #header .navigation-main nav > ul > li > ul li {
        margin-top: 3rem;
    }
    #header .navigation-main nav > ul > li .icon {
        margin-left: 2rem;
    }
    #header .navigation-main nav > ul > li svg {
        margin-right: 0.35rem;
        width: 1.45rem;
    }
    .logo,
.burger-button {
        position: relative;
        z-index: 500;
    }
    .navigation-main {
        visibility: hidden;
        opacity: 0;
    }
    .navigation-main .navigation-content {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: var(--color-4);
    }
    .navigation-main .navigation-content nav {
        background-color: var(--color-9);
        border-radius: 2.1rem;
        position: absolute;
        height: calc(100% - 2rem);
        top: 1rem;
        width: calc(100% - 2rem);
        left: 1rem;
        padding-top: 5rem;
    }
    .close-picto, .burger-picto {
        transition: 0.6s;
    }
    .close-picto {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu-mobile-open .navigation-main {
        transition: 0.6s;
        visibility: visible;
        opacity: 1;
    }
    .menu-mobile-open .burger-picto {
        visibility: hidden;
        opacity: 0;
    }
    .menu-mobile-open .close-picto {
        visibility: visible;
        opacity: 1;
    }
}
#footer {
    z-index: 25;
    background-color: var(--color-1);
    font-size: 0.972rem;
    color: var(--color-9);
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
}
@media (min-width: 769px) {
    #footer {
        height: 6.2rem;
    }
}
#footer .logo {
    width: 23rem;
    padding-left: 4rem;
}
#footer .logo svg {
    width: 11.25rem;
    height: auto;
}
#footer .contact {
    width: 5.3rem;
    background: var(--color-2);
    height: 5.3rem;
    border-radius: 18rem;
    color: #000;
    font-size: 1rem;
    position: fixed;
    right: 1.1rem;
    bottom: 0.45rem;
    transition: 0.6s;
    z-index: 25;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer .contact:hover {
    width: 6.8rem;
    height: 6.5rem;
    border-radius: 3.5rem 0 3.5rem 3.5rem;
    bottom: 2rem;
    font-size: 1.2rem;
}
#footer ul {
    width: 70rem;
    display: flex;
    justify-content: right;
    margin-right: 8.5rem;
}
#footer li {
    margin: 0 1.5rem;
}
#footer li a:hover {
    color: var(--color-7);
}

@media (max-width: 768px) {
    #footer {
        padding-top: 3rem;
        flex-direction: column;
        font-size: 1.5rem;
        text-align: center;
    }
    #footer .logo {
        width: 100%;
        padding-left: 0;
    }
    #footer .logo svg {
        width: 16.5rem;
        height: auto;
        display: inline;
    }
    #footer ul {
        flex-direction: column;
        width: 100%;
        margin: 2.5rem 0 1.5rem 0;
    }
    #footer ul li {
        margin: 1.5rem 0px;
    }
    #footer .contact {
        width: 6.8rem;
        background: var(--color-2);
        height: 6.8rem;
        border-radius: 18rem;
        color: #000;
        font-size: 1.5rem;
        position: fixed;
        right: 1.1rem;
        bottom: 1.15rem;
        transition: 0.6s;
        z-index: 25;
    }
}
section.strate-wysiwyg .container {
    padding: 3.5rem 9rem;
}
@media (max-width: 991px) {
    section.strate-wysiwyg .container {
        padding: 3.5rem 2.5rem;
    }
}
section.strate-wysiwyg.bg-color-1 {
    background-color: var(--color-9);
}
section.strate-wysiwyg.bg-color-2 {
    background-color: var(--color-8);
}
section.strate-wysiwyg.bg-color-3 {
    background-color: var(--color-1);
}
section.strate-wysiwyg.bg-color-4 {
    background-color: var(--color-4);
}

section.strate-image .container {
    padding: 3.5rem 9rem;
}
section.strate-image .container picture, section.strate-image .container img {
    width: 100%;
    height: auto;
}
@media (max-width: 991px) {
    section.strate-image .container {
        padding: 3.5rem 2.5rem;
        display: block;
    }
}

/*# sourceMappingURL=app.css.map*/