.slider {
    --nb: 1;
    --padding-left: 0;
    --padding-right: 0;
    --offset: 0;
    display: grid;

    &-content {
       // position: relative;
        overflow-y: hidden;
        overflow-x: scroll;
        display: grid;
       // grid-auto-columns: 100%;
        grid-gap: var(--gap);
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &.touchable {
            scroll-snap-type: x mandatory;

            .item {
                scroll-snap-align: start;
            }
        }

        &.onswipe {
            cursor: grab;
            user-select: none;

            a,
            button {
                pointer-events: none;
            }
        }
    }

	&-btn {
        cursor: pointer;

        &[aria-disabled=true]{
            opacity: .5;
            pointer-events: none;
        }

        &.hide{
            display: none;
        }
    }
    
    &-pagination{
        display: flex;
		
		button{
			&.hide{
				display: none;
			}
		}
    }

    .item {
        grid-row: 1;
        width: 100%;
    }
	.item {


		&:first-child {
			margin-left: var(--ctr-left);
		}

		&:last-child {
			margin-right: var(--ctr-offset);
		}
	}
}
